Lab6/vsim.wlf
Lab6/TimeSim*
Lab6/work
Lab6/transcript
Lab6/vhdl6.cr.mti
Lab6/vhdl6.mpf
Lab6/transcript
Lab6/transcript
Lab6/work/_info
Lab6/work/_lib.qdb
Lab6/work/_lib1_2.qdb
Lab6/work/_lib1_2.qpg
Lab6/work/_lib1_2.qtl
Lab6/transcript
